/* Variables */
:root{
    --light-clr: #e9e7e7;
    --dark-clr: #727272;
    --bor-rad: 5px;
    --bor-rad-big: calc(var(--bor-rad) * 2);
    --margin-top-bottom: 10px 0;
    --gen-padding: 20px;
}

/* Reset & Standard settings*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--dark-clr);
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;   
}

.nav-links li a{
    padding: var(--gen-padding);
}

.site-title {
    font-size: 2.2rem;
    line-height: 1.6;
}

/* Recipe Page */

.margin-tb{
    margin: var(--margin-top-bottom);
}

.recipe-img {
    width: 40%;
    height: auto;
}

/* Utilities Below*/

/* Container Utils*/

.container{
    width: 900px;
    margin: 20px auto;
}

.container-bg{
    width: 100%;
}

/* Border */

.bor-rad{
    border-radius: var(--bor-rad-big);
}

/* Backgrounds */

.bg-light {
    background: var(--light-clr);
    padding: calc(var(--gen-padding)* 2);
}
